
body, div, p, a, ul, li, span, input {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
    font-family: '微软雅黑', 'Timmana', sans-serif;
}

ul{height:auto; overflow: hidden;}
ul, li{
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #1f1a17;
}

a:hover {
    color: #ff0000;
}

.no-info {
    color: #ADADAD;
    text-align: center;
}

.top {
    height:35px;
    line-height: 35px;
    color: #787878;
    overflow: hidden;
    background-color: #f1f1f1;
    /*background: url("/assets/img/pc/bg_1.png") 0 0 repeat-x;*/
    /*border: 0px solid #f00;*/
}

.header {
    /*border:1px solid #f00;*/
    border-bottom:3px solid #89C323;
}

.banner {
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #AFC4D2;
}

.footer {
    height: auto;
    overflow: hidden;
    background-color: #f1f2f4;
}

.main {
    width:100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    clear: both;
    background-color: #f6f6f6;
}

.top .container, .header .container, .banner .container, .footer .container, .main .container {
    width: 1220px;
    margin: 0 auto 0 auto;
    height: auto;
    overflow: hidden;
    /*background-color: #ff0000;*/
    /*border:1px solid #f00;*/
}

/*顶部*/
.top .container {
}

.top .container .lc {
    float: left;
    widht: 150px;
    /*color:#f22e00;*/
}
.top .container .lc a {
    /*color:#6C6C6C;*/
    color:#666666;
}

.top .container .rc {
    float: right;
    width: 600px;
    text-align: right;
}

.top .container .rc a {
    color:#6C6C6C;
    margin: 0 10px 0 10px;
}

/*------------------------- 头部 S -----------------------*/

.header .container2{
    height: auto;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    /*border:1px solid #f00;*/
}
.header .container2 .lc{
    width:200px;
    float:left;
    padding-left:7px;
}
.header .container2 .rc{
    width:733px;
    float:right;
    /*padding-right:10px;*/
    text-align: right;
}
.header .container2 .searchInp{
    width: 300px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #777777;
    border: 1px solid #DCDCDC;
    margin-top: 20px;
}

.header .container2 .btn-search{
    height:35px;
    line-height: 35px;
    padding:0 10px;
    color:#ffffff;
    text-align: center;
    display: inline-block;
    background-color: #84c225;
}
.header .container2 .btn-shop-car{
    height:35px;
    line-height: 35px;
    padding:0 10px;
    color:#ffffff;
    text-align: center;
    display: inline-block;
    background-color: #FDAB15;
}

.header .container .lc {
    float: left;
    width: 215px;
    text-align: left;
    /*border:1px solid #ff0000;*/
}
.header .container .lc a#parentMenu{
    text-decoration: none;
}
.header .container .lc a.menu {
    width: 200px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    background-color: #019040;
    color: #ffffff;
    margin-top: 5px;
}

.header .container .cc {
    float: left;
    width: 590px;
    margin-top: 12px;
    border:0px solid #ff0000;
}

.header .container .cc ul {
    list-style: none;
}

.header .container .cc ul li {
    float: left;
    padding: 0 15px;
    font-size: 16px;
    display: inline-block;
    border-right:1px solid #999;
}
.header .container .cc ul li.last{
    border:0;
}

.header .container .cc ul li a {
    font-size: 16px;
}
.header .container .cc ul li a.curr{
    color:#ff0000;
}


/*------------------------- 头部 E -----------------------*/

/*------------------------- 底部 S -----------------------*/
.footer .container {
    padding: 30px 0 30px 50px;
    color: #666666;
}

.footer .con1{
    background-color: #424345;
    padding: 15px 0 20px 0;
}
.footer .con1 ul{
    width:1130px;
    margin:0 auto;
    padding-left: 80px;
    border:0px solid #ff0000;
}
.footer .con1 ul li{
    float:left;
    border-right:1px solid #656565;
    padding:0 30px;
    height: 50px;
    line-height: 50px;
}
.footer .con1 ul li.last{
    border-right:0;
}
.footer .con1 ul li i{
    font-size:30px;
    position: relative;
    top:5px;
    color:#ffffff;
}
.footer .con1 ul li a{
    font-size:16px;
    color:#ffffff;
}

.footer .container ul.linkUl {
    float: left;
    width: 150px;
    line-height: 30px;
    margin-right: 20px;
}
.footer .container ul.linkUl li{
    font-size: 14px;
    color:#3f4042;
    text-align: left;
}
.footer .container ul.linkUl a {
    font-size:14px;
    color: #828282;
    text-decoration: none;
}
.footer .container ul.linkUl a:hover{
    color:#0f0f0f;
}

.footer1 { line-height: 54px; padding: 13px 0; background: #3E3A39; color: #fff; font-size: 14px; margin-top:20px; }
.footer1 .iconfont:before{font-size:40px; margin-right:10px; vertical-align: middle;}
.footer1 li { float: left; width: 235px; text-align: center; border-left: 1px solid #635D5C; margin-left: -1px; }
.footer1 li:first-child{ border-left:none; }

/*------------------------- 底部 E -----------------------*/


/*公用分页*/
.pager {
    text-align: center;
    padding: 20px 0;
}

/*.pager .pager_btns a {
    margin-right: 10px;
}*/

/*边距 s*/
.m-mt5{margin-top:5px !important;}
.m-mt10{margin-top:10px !important;}
.m-mt15{margin-top:15px !important;}

.m-mr5{margin-right:5px !important;}
.m-mr10{margin-right:10px !important;}
.m-mr15{margin-right:15px !important;}

.m-mt5{margin-top:5px !important;}
.m-mt10{margin-top:10px !important;}
.m-mt15{margin-top:15px !important;}

.m-ml5{margin-left:5px !important;}
.m-ml10{margin-left:10px !important;}
.m-ml15{margin-left:15px !important;}

.m-pt5{padding-top:5px !important;}
.m-pt10{padding-top:10px !important;}
.m-pt15{padding-top:15px !important;}

.m-pr5{padding-right:5px !important;}
.m-pr10{padding-right:10px !important;}
.m-pr15{padding-right:15px !important;}

.m-pt5{padding-top:5px !important;}
.m-pt10{padding-top:10px !important;}
.m-pt15{padding-top:15px !important;}

.m-pl5{padding-left:5px !important;}
.m-pl10{padding-left:10px !important;}
.m-pl15{padding-left:15px !important;}

/*空行 s*/
.space-c {height: 1px; border-bottom: 5px solid #00923f; clear: both; display: block; }
.space {height: 10px; clear: both; display: block; }
.m-space10 {height: 10px; clear: both; display: block; }
.m-space15 {height: 15px; clear: both; display: block; }
.m-space20 {height: 20px; clear: both; display: block; }

/*下拉列表*/
.m-select{
    padding:7px;
    border:1px solid #cccccc;
}

/*背景*/
.m-bg{
    background-color: #ffffff;
}

/*暂无数据*/
.no-data{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #B3B3B3;
    background-color: #ffffff;
}

/*登录成功账号高亮*/
.member-account{color:#ff0000; font-weight:bold;}

/*通条修饰图*/
.tt-img{width:1200px; }
.tt-img2{width:1190px;}


/*新闻排版*/
.article{background-color: #ffffff; }
.article .title{font: 700 18px/60px "\5FAE\8F6F\96C5\9ED1",tahoma; text-align:center; color:#656565;}
.article .pattern{border-bottom: 1px solid #cccccc;}
.article .content{width:1170px; margin:10px; height: auto; overflow: hidden; text-align: justify; line-height: 25px; font-size: 14px;}
.article .content img{width:100%;}
.article .content2{width:1170px; margin:10px; height: auto; overflow: hidden; text-align: justify; line-height: 25px; font-size: 14px;}
.article .affix{}

/*通用前景色*/
.m-c1{color:#ff0000;}


/*table list s==========================================================*/
.tb_list{width:100%; margin:15px 0; font-size:14px; color:#666;}
.tb_list th{height:50px; line-height:50px; text-align: center; font-weight: normal; background-color: #f1f1f1; text-align: center;}
.tb_list td{height:35px; line-height:35px; text-align: center; font-weight: normal;}
.tb_list td a.oper{color:#0061a7 !important;}
.tb_list tr td a .title-hide {height: 35px; overflow: hidden; text-align: left; }
.tb_list tr td p.title-hide {height: 35px; overflow: hidden; text-align: left; }

.tb_list2{width:100%; margin:15px 0; font-size:14px; color:#666; text-align: left;}
.tb_list2 th{height:50px; line-height:50px; text-align: left; font-weight: normal; background-color: #f1f1f1; }
.tb_list2 td{height:50px; line-height:50px; font-weight: normal; border-bottom: 1px dashed #cccccc;}
.tb_list2 td a.oper{color:#0061a7 !important;}
.tb_list2 tr td a .title-hide {height: 35px; overflow: hidden; text-align: left; }
.tb_list2 tr td p.title-hide {height: 35px; overflow: hidden; text-align: left; }

/*table list e==========================================================*/


/*边距设置 s==========================================================*/
.m-ml5{margin-left:5px;}
.m-ml10{margin-left:10px;}
.m-ml15{margin-left:15px;}
.m-ml20{margin-left:20px;}


.m-pl5{padding-left:5px;}
.m-pl10{padding-left:10px;}
.m-pl15{padding-left:15px;}
.m-pl20{padding-left:20px;}


/*边距设置 e==========================================================*/


/*当前访问位置 s==========================================================*/
.cur_loc{height:35px; line-height: 35px; color:#666666; font-family: "宋体"; padding-left:15px;}
.cur_loc a{color:#666666; text-decoration: none; }

/*当前访问位置 e==========================================================*/




