


.member-order{
    height:auto;
    overflow: hidden;
    margin:10px auto !important;
    border: #dfdfdf 1px solid;
}

.member-order .lc{
    float:left;
    width:250px;
    background-color: #eef2e7;
}

.member-order .rc{
    float:right;
    width:960px;
}

/*订单流程图标*/
.orderpath-outline,.orderpath-online{
    padding: 15px 0;
}
.orderpath-outline .on,.orderpath-online .on{
    width:396px; height:27px; background:url(/assets/img/pc/orderpath.png) no-repeat; margin:0 auto;
}
.orderpath-outlline .on1{background-position: 0 0;}
.orderpath-outlline .on2{background-position: 0 -29px;}
.orderpath-outlline .on3{background-position: 0 -59px;}

.orderpath-online .on{width:586px; }
.orderpath-online .on1{background-position: 0 -89px;}
.orderpath-online .on2{background-position: 0 -119px;}
.orderpath-online .on3{background-position: 0 -150px;}
.orderpath-online .on4{background-position: 0 -178px;}
.protxt{line-height: 24px; white-space: nowrap; text-align: center;}
.protxt .span1{ position: relative; left:-202px;}
.protxt .span2{ position: relative; left:-73px;}
.protxt .span3{ position: relative; left:58px;}
.protxt .span4{ position: relative; left:190px;}


/*表格*/
.order-header{
}
.order-header h3{padding:10px; border-left: #6d9e0c 3px solid;}
.order-header h5{
    border-left: 2px solid #89C323;
    padding: 8px 10px;
}
.cart-table-th,.order-content{}
.cart-table-th,.cart-table-td{clear:both;vertical-align: middle; padding:10px; background-color: #fff; overflow: hidden;}
.cart-table-th{
    padding:15px 10px;
    font-weight: bold;
}
.cart-table-td{border-bottom:#dfdfdf 1px dashed; }
.check{margin-right: 5px; vertical-align: top}
.tab-mod{width:100%; overflow:auto;}
.tab-mod .th,.tab-mod .td{float: left;}
.tab-mod .th{
    background-color: #ebebeb;
    height: 40px;
    line-height: 30px;
}
.tab-mod .title .td{
    background-color: #f5f5f5;border-bottom: #dfdfdf 1px solid; height:36px;
}
.tab-mod th,.tab-mod td,.tab-mod .th,.tab-mod .td{padding:8px 10px;}
.tab-mod tr,.tab-mod .tr{
    border-bottom: #dfdfdf 1px solid; overflow: auto
}
.tab-mod .tr{clear:both;}
.tab-mod .tr-b-0{border-bottom: 0;}
.tab-mod tr:nth-child(odd){background-color: #f9f9f9;}
.tab-mod tr.hd,.tab-mod .tr.hd{
    border-top: #89C323 2px solid;
    color: #333333;
    background-color: #F1F1F1;
    font-weight:bold;
}
.tab-mod tr.bd:hover,.tab-mod .tr.bd:hover{
    /*background-color: #f2f2f2;*/
}
.tab-mod tr.bd td.act-control a,.tab-mod .tr.bd .act-control a{display: inline-block; padding: 0 8px;}
/*.tab-mod tr.bd .photo img,.tab-mod .tr.bd .photo img{width:98px; height:68px; margin-right:10px; margin-top:5px; overflow:hidden}*/
.tab-mod .bd .td{
    border-bottom:0px dashed #dfdfdf;
}

/*购物车商品列表*/
.th-chk{
    margin-right:15px;
}
.list-img{
    width:70px;
    height:60px;
    border:0;
    margin-right: 10px;
}
.list-money{
    color: #3c3c3c;
    font-weight: 700;
}
.list-count{
    color: #3c3c3c;
    font-weight: 700;
}

/*input-count*/
.m-input-count{
    width:75px !important;

}

/*合计结算*/
.order-con{

    padding:15px !important;
}

.order-con .num {
    color: #f40;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial;
    vertical-align: middle;
}






