
.addressCon{
    margin:20px;
}
.addressCon li{
    padding:10px;
    color:#999999;
    font-weight: normal;
    cursor: pointer;
    border-bottom:1px dashed #ededed;
}
.addressCon li label{cursor: pointer;}
.addressCon li.cur{
    background-color: #E3F7E2;
    border:1px dashed #9acc99;
    color:#333333;
}

.orderRemark{
    width: 500px;
    padding: 5px 10px;
    border: 1px solid #cccccc;
}

/*商品列*/
.th-name {
    width: 45%;
}

/*小计列*/
.singleTotalMoney{
    padding-left: 40px;
}